/*********************************************************/
/*                                                       */
/*                    Made by Simik31                    */
/*      https://www.myanimelist.net/profile/simik31      */
/*                                                       */
/*********************************************************/


.list-container .list-unit .list-table .list-item .list-table-data .data.progress .icon-add-episode,
.list-container .list-unit .list-table .list-item .list-table-data .data.chapter .icon-add-chapter,
.list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-volume {
    position: absolute;
    right: -27px;
    padding: 5px 5px 5px 5px;
    background-color: var(--color-current);
}

.list-container .list-unit .list-table .list-item .list-table-data .data.progress .icon-add-episode:hover,
.list-container .list-unit .list-table .list-item .list-table-data .data.progress a:hover,
.list-container .list-unit .list-table .list-item .list-table-data .data.chapter .icon-add-chapter:hover,
.list-container .list-unit .list-table .list-item .list-table-data .data.chapter a:hover,
.list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-volume:hover,
.list-container .list-unit .list-table .list-item .list-table-data .data.volume a:hover,
.list-container .list-unit .list-table .list-item:hover .list-table-data .data.title .link:hover {
    color: var(--color-current) !important;
    background-color: var(--color-text);
}

.list-container .list-unit .list-table .list-item .list-table-data .data.chapter:before,
.list-container .list-unit .list-table .list-item .list-table-data .data.volume:before,
.list-container .list-unit .list-table .list-item .list-table-data .data.progress:before {
    color: var(--color-text);
}

.list-container .list-unit .list-table .list-item .list-table-data .data.chapter,
.list-container .list-unit .list-table .list-item .list-table-data .data.volume {
    padding: 0 12px 0 5px !important;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.chapter,
.list-container .list-unit .list-table .list-item .list-table-data .data.volume,
.list-container .list-unit .list-table .list-item .list-table-data .data.progress {
    position: absolute;
    margin: 0;
    background-color: var(--color-current);
    color: var(--color-text);
    opacity: 0;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.chapter div,
.list-container .list-unit .list-table .list-item .list-table-data .data.volume div,
.list-container .list-unit .list-table .list-item .list-table-data .data.progress div {
    display: inline-block;
}

.list-container .list-unit .list-table .list-item:hover .list-table-data .data.chapter,
.list-container .list-unit .list-table .list-item:hover .list-table-data .data.volume,
.list-container .list-unit .list-table .list-item:hover .list-table-data .data.progress {
    display: block;
    opacity: 1;
}

