     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.ownlist {
	background-image: var(--image-background) !important;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	min-width: 1350px;
}

.status-menu-container.fixed + div.list-block {
	margin-top: 16px !important;
}

.data {
	padding: 0 !important;
}

.list-unit .list-status-title,
.list-container .status-menu-container {
	height: 0 !important;
}

.list-container,
.list-unit {
	width: 1024px;
	min-height: calc(100vh - 186px);
}

.list-table .list-table-data .data,
.list-container {
	border: none;
}

#footer-block,
.status-menu-container,
.list-container,
.list-unit,
.icon-menu:not(.profile):hover {
	background-color: transparent !important;
}

#search-button,
.edit a::before,
.list-item {
	border-radius:6px;
}

#search-box,
.list-table,
.status-menu-container,
.list-menu-float {
	border:none !important;
}
