     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.ownlist {
	background-image: var(--image-background) !important;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}

.status-menu-container.fixed + div.list-block {
	margin-top: 16px !important;
}

.data {
	padding: 0 !important;
}

.status-menu-container.fixed + div.list-block {
	margin-top: 0 !important;
}

.list-unit .list-status-title,
.list-container .status-menu-container {
	height: 0 !important;
}

.list-container,
.list-unit {
	width: 1024px;
}

.list-table .list-table-data .data,
.list-container {
	border: none;
}

#footer-block,
.list-container .status-menu-container,
.list-container, .list-container .list-unit,
.list-menu-float .icon-menu,.list-menu-float .icon-menu:not(.profile):hover {
	background-color: transparent !important;
}

.list-container .status-menu-container .search-container #search-button,
.list-container .list-unit .list-table .list-item .list-table-data .data.title .add-edit-more .edit a::before,
.list-container .list-unit .list-table .list-item {
	border-radius:6px;
}

.list-container .status-menu-container .search-container #search-box,
.list-container .status-menu-container .search-container #search-box.open,
.list-table,
.list-container .status-menu-container,
.list-menu-float {
	border:none !important;
}
