/* Part of simik31's MAL css */

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--color);
  border: 4px solid var(--bg-color);
  border-radius:12px;
}

::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--bg-color);
}