/* Part of simik31's MAL css */

.list-container .status-menu-container .search-container #search-button {
	color: inherit;
    font-size: 14px;
    height: 14px;
    margin: 0;
    border-radius: 6px;
    background: url("https://raw.githack.com/Simik31/mal_css/master/img/search.png") var(--color);
    width: 28px;
    height: 28px;
    font-size: 0;
}

.list-container .status-menu-container .search-container {
    position: fixed;
    margin-top: -25px;
    z-index: 1;
}

.list-container .status-menu-container .search-container #search-box {
	margin: 0;
    width: 0;
    border: 0;
    height: 25px;
}

.list-container .status-menu-container .search-container #search-box:hover {
    box-shadow: 0 0 2px 1px var(--color);
}

.list-container .status-menu-container .search-container #search-box.open {
    width: 148px;
    border: 0;
    height: 23px;
    box-shadow: 0 0 2px 1px var(--color);
}

.list-container .status-menu-container .search-container #search-button::after {
  right: 0;
  top: 0;
  margin-top: -19px;
  padding-top: 3px;
  text-align: right;
  vertical-align: top;
  content: "Search";
}

#list-container #status-menu .search-container {
  right: calc((100% - 1024px)/2 + 10px);;
}

.list-container .status-menu-container .search-container #search-button i {
  text-shadow: #000 1px 1px 1px;
}