/* Part of simik31's MAL css */

.list-container .list-unit .list-table .list-item .list-table-data .data.title .add-edit-more .edit a::before {
	  display: inline-block;
    font: normal normal normal 15px / 1 FontAwesome;
    color: var(--text-color);
    margin-top: 13px;
    margin-left: 13px;
    position: absolute;
    z-index: 98;
    background-color: var(--color);
    padding: 5px;
    border-radius: 7px;
    content: "";
}