/* Part of simik31's MAL css */

.list-unit::after {
    content: "MyAnimeList.net is a property of MyAnimeList, LLC. ©2015 All Rights Reserved. \a Original design based on ffxiv.eorzeacollection.com by Edeon Vails. CSS edit by MurakumoJP. \a Final edit by Simik31.";
    display: block !important;
    width: 1024px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--bg-color);
    text-align: center;
    font-size: 12px;
    border-top: 2px solid var(--color);
    color: var(--color);
    font-weight: bold;
    white-space: pre;
}