/* Part of simik31's MAL css */

.list-container .list-unit .list-table .list-item .list-table-data .data.progress .icon-add-chapter,.list-container .list-unit .list-table .list-item .list-table-data .data.progress .icon-add-volume,.list-container .list-unit .list-table .list-item .list-table-data .data.progress .icon-add-episode,.list-container .list-unit .list-table .list-item .list-table-data .data.chapter .icon-add-chapter,.list-container .list-unit .list-table .list-item .list-table-data .data.chapter .icon-add-volume,.list-container .list-unit .list-table .list-item .list-table-data .data.chapter .icon-add-episode,.list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-chapter,.list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-volume,.list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-episode,.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
	border-left:1px solid var(--text-color)!important;
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting,.list-menu-float .icon-menu.setting:hover .text .link-style-setting,.list-container .status-menu-container .search-container #search-box,list-container .status-menu-container .search-container #search-box.open {
	border:0;
}

.list-unit::after,.list-container .list-unit .list-stats {
	border-top:2px solid var(--color);
}

.list-item:before {
	border:2px solid var(--text-color);
}

.list-item:hover:before {
	border-color:var(--color);
}

.list-container .status-menu-container .search-container #search-button {
	border-radius:6px;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.title .add-edit-more .edit a::before,.list-container .list-unit .list-table .list-item .list-table-data .data.title .add-edit-more .more a::before {
	border-radius:7px;
}

.list-container .status-menu-container .status-menu {
	border-bottom:2px solid var(--color);
}

.list-container .status-menu-container {
	border-bottom:12px solid var(--bg-color)!important;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.season {
	border-top:1px solid var(--text-color)!important;
}