/* Part of simik31's MAL css */

.list-container .status-menu-container .status-menu  {
    width: 1024px;
    padding-bottom: 10px;
    text-align: center;
} 

.list-container .status-menu-container .status-menu .status-button:hover {
    background: none;
}

.list-container .status-menu-container .status-menu .status-button {
    top: 6px;
    display: inline;
    color: var(--text-color);
    height: 30px;
    line-height: 30px;
    padding: 12px 15px;
}

.list-container .status-menu-container .status-menu .status-button.all_anime:hover {
    background-color: var(--all);
}

.list-container .status-menu-container .status-menu .status-button.watching:hover,
.list-container .status-menu-container .status-menu .status-button.reading:hover {
    background-color: var(--watching);
}

.list-container .status-menu-container .status-menu .status-button.completed:hover {
    background-color: var(--completed);
}

.list-container .status-menu-container .status-menu .status-button.onhold:hover {
    background-color: var(--onhold);
}

.list-container .status-menu-container .status-menu .status-button.dropped:hover {
    background-color: var(--dropped);
}

.list-container .status-menu-container .status-menu .status-button.plantowatch:hover,
.list-container .status-menu-container .status-menu .status-button.plantoread:hover  {
    background-color: var(--plan);
	color: var(--text-secondary);
}

.list-container .status-menu-container .status-menu .status-button.on {
    background-color: var(--color);
    cursor: default;
}