/* Part of simik31's MAL css */

.list-container .status-menu-container .status-menu  {
    width: 1024px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid var(--color);
} 

.list-container .status-menu-container {
    border-bottom: 10px solid var(--bg-color) !important;
}
}

.list-container .status-menu-container .status-menu .status-button:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: none;
}

.list-container .status-menu-container .status-menu .status-button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    top: 6px;
    display: inline;
    color: var(--text-color);
    height: 30px;
    line-height: 30px;
    padding: 12px 15px;
    font-size: 13px;
    font-weight: bold;
}

.list-container .status-menu-container .status-menu .status-button.all_anime:hover {
    background-color: var(--all);
}

.list-container .status-menu-container .status-menu .status-button.watching:hover {
    background-color: var(--watching);
}

.list-container .status-menu-container .status-menu .status-button.reading:hover {
    background-color: var(--watching);
}

.list-container .status-menu-container .status-menu .status-button.completed:hover {
    background-color: var(--completed);
}

.list-container .status-menu-container .status-menu .status-button.onhold:hover {
    background-color: var(--onhold);
}

.list-container .status-menu-container .status-menu .status-button.dropped:hover {
    background-color: var(--dropped);
}

.list-container .status-menu-container .status-menu .status-button.plantowatch:hover {
    background-color: var(--plan);
	color: var(--text-secondary);
}

.list-container .status-menu-container .status-menu .status-button.plantoread:hover  {
    background-color: var(--plan);
	color: var(--text-secondary);
}

.list-container .status-menu-container .status-menu .status-button.on {
    background-color: var(--color);
    cursor: default;
}