/* Part of simik31's MAL css */

.list-container .cover-block {
    background-image: var(--cover);
    background-repeat: no-repeat;
    background-position: center;
    width: 1024px;
    height: 250px;
    margin-bottom: 40px;
}