/* Part of simik31's MAL css */

.list-menu-float {
  top: 305px !important;
}

.list-menu-float .icon-menu,
.list-menu-float .icon-menu:not(.profile):hover {
    color: var(--color);
    margin-right: 3px;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 8px 0;
    box-sizing: border-box;
    text-align: center;
}

.list-menu-float .icon-menu.profile {
  background-image: none !important;
}

.list-menu-float .icon-menu.profile::before {
  content: "";
}

.list-menu-float .icon-menu.quick-add::before {
  content: "";
}

.list-menu-float .icon-menu.anime-list::before {
  content: "";
}

.list-menu-float .icon-menu.manga-list::before {
  content: "";
}

.list-menu-float .icon-menu.history::before {
  content: "";
}

.list-menu-float .icon-menu.export::before {
  content: "";
}

.list-menu-float .icon-menu.logout::before {
  content: "";
}

.list-menu-float .icon-menu.setting::before {
  content: "";
}


.list-menu-float .icon-menu.anime-list:hover,
.list-menu-float .icon-menu.manga-list:hover,
.list-menu-float .icon-menu.history:hover,
.list-menu-float .icon-menu.export:hover,
.list-menu-float .icon-menu.logout:hover {
    margin-right: 79px !important;
    color: var(--text-color);
}

.list-menu-float .icon-menu.setting:hover .text {
    width: 190px !important;
    top: 14px !important;
}

.list-menu-float .icon-menu .text {
    margin-left: -25px;
    margin-top: -14px;
    padding: 10px 0px 20px 0px;
    color: var(--text-color);
    text-align: center;
    z-index: -1;
}

.list-menu-float .icon-menu:hover .text {
    width: 81px !important;
    opacity: 1;
}

.list-menu-float .icon-menu.setting .text {
    top: 14px;
    height: 0px !important;
    width: 0;
}


.list-menu-float .icon-menu.profile:hover:after {
	width: 81px !important;
	opacity: 1;
}

.list-menu-float .icon-menu.profile::after {
    content: "Profile";
    top: 0px;
    left: 25px;
    padding: 10px 0px 20px 0px;
    color: var(--text-color);
    text-align: center;
    opacity: 0;
    z-index: -1;
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting, 
.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
    background-color: transparent;
    line-height: 13px;
    height: auto;
    display: inline-block;
    position: relative;
    top: 0;
    width: auto;
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting {
  padding-right: 6px;
}

.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
  padding-left: 10px;
}

.list-menu-float .icon-menu {
	background-color: var(--bg-color) !important;
}

.list-menu-float .icon-menu.profile::after,
.list-menu-float .icon-menu .text {
  height: 16px;
  white-space: nowrap;
  color: inherit;
}

.list-menu-float .icon-menu.profile::after {
  position: absolute;
  overflow: hidden;
  width: 0;
  opacity: 0;
}

.list-menu-float .icon-menu.profile:hover::after {
  width: 100px;
  opacity: 1;
}

.list-menu-float {
    position: relative;
    display: block;
    width: 1020px;
    height: 0;
    right: -10px;
    padding-left: 0;
    margin: 0px auto;
    border: none;
    background: 0 0;
    text-align: left;
    z-index: 38;
}

.list-menu-float form {
    display: inline-block;
    width: 30px;
    margin-right: 3px;
}

