/* Part of simik31's MAL css */
 .list-container .list-unit .list-table .list-item:hover .list-table-data .data.volume {
     display: block;
     margin-left: 5px;
     opacity: 1;
}
 .list-container .list-unit .list-table .list-item:hover .list-table-data .data.volume .icon-add-volume {
     display: block;
}
 .list-container .list-unit .list-table .list-item .list-table-data .data.chapter ~ .volume:before {
     padding: 2px 0px 0px 0;
     content: "Volumes:";
     pointer-events: all;
     color: var(--text-color);
     margin-right: 5px;
}
 .list-container .list-unit .list-table .list-item .list-table-data .data.volume {
     pointer-events: all;
     color: var(--text-color);
     position: absolute;
     left: 1px;
     top: 242.5px;
     padding: 3px 7px 3px 15px;
     background-color: var(--color);
     margin-right: 14px;
     margin-left: -100%;
     opacity: 0;
}
 .list-container .list-unit .list-table .list-item .list-table-data .data.volume div {
     display: inline-block;
     vertical-align: top;
}
 .list-container .list-unit .list-table .list-item .list-table-data .data.volume a {
     color: var(--text-color);
}
 .list-container .list-unit .list-table .list-item .list-table-data .data.progress .icon-add-volume, .list-container .list-unit .list-table .list-item .list-table-data .data.chapter .icon-add-volume, .list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-episode, .list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-chapter, .list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-volume {
     position: absolute;
     right: -22px;
     top: 0px;
     padding: 5px 5px 6px 5px;
     background-color: var(--color);
}
 .list-container .list-unit .list-table .list-item .list-table-data .data.progress .icon-add-volume .fa, .list-container .list-unit .list-table .list-item .list-table-data .data.chapter .icon-add-volume .fa, .list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-episode .fa, .list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-chapter .fa, .list-container .list-unit .list-table .list-item .list-table-data .data.volume .icon-add-volume .fa {
     text-shadow: #000 1px 1px 1px;
}