/* Part of simik31's MAL css */

.list-container .list-unit .list-table .list-item:hover .list-table-data .data.title .content-status {
    left: 143px;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.title .content-status {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    left: 150px;
    top: 320px;
    background-color: var(--color);
    color: var(--text-color);
    text-transform: uppercase;
    padding: 4px 10px;
    font-size: 10px;
    width: 72px;
    text-align: center;
    z-index: 1;
}