/*********************************************************/
/*                                                       */
/*                    Made by Simik31                    */
/*      https://www.myanimelist.net/profile/simik31      */
/*                                                       */
/*********************************************************/

.list-container .list-unit .list-table .list-item:hover .list-table-data .data.title .add-edit-more .edit a::before {
    content: "";
    position: absolute;
    display: block;
    padding: 5px;
    margin: 13px 0 0 13px;
    z-index: 2;
    color: var(--text-color);
    background-color: var(--color);
}