     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.edit a::before {
    content: "";
    position: absolute;
    display: block;
    padding: 5px;
    margin: 13px;
    z-index: 2;
    color: var(--color-text);
    background-color: var(--color-current);
}
