     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.data.progress:before {
	content: "Ep: ";
}

.data.progress {
	top: var(--progress-layer-one);
	padding: 0 10px 0 5px !important;
}
