     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

@font-face {
	font-family: BigNoodleToo;
	src: url(https://cdn.jsdelivr.net/gh/Simik31/mal_css/big_noodle_titling.woff) format("woff");
}

* {
	font-family: BigNoodleToo, impact, sans-serif !important;
	font-size: 20px !important;
	font-weight: normal !important;
}

.data.tags,
.add-edit-more,
.List_LightBox,
.more a,
.edit,
#advanced-options-button,
a[href*="tag=Rx"] {
	font-size: 0 !important;
}

.fa {
	font: 20px / 1 FontAwesome !important;
}

.data.score:before {
	font: 36px / 1 FontAwesome;
}

.icon-menu::before,
.List_LightBox::before {
	font: 14px / 1 FontAwesome;
}

.list-unit::after {
	font-size: 18px;
}

#status-menu .status-button {
	font-size: 24px !important;
}
