     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.list-item {
	position: relative;
	display: inline-block;
	width: var(--item-width);
	height: var(--item-height);
	border: 2px solid var(--color-current);
	margin: 5px;
	overflow: hidden;
}

.data {
	position: absolute;
}

.data.image,
.data.image a {
	height: 100%;
}

.list-table .list-table-data .data.image .image {
	width: auto;
	height: 100%;
	transform: translateX(calc((100% - var(--item-width)) / -2));
	border:none;
}
