     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

#status-menu .status-button.on {
	color: var(--color-current);
}

#status-menu .status-button {
	position: fixed;
	left: 0;
	width: 150px;
	color: var(--color-text);
	padding: 7px 10px;
}

.all_anime {
	top: var(--position-button-all);
}

.watching,
.reading {
	top: var(--position-button-watching);
}

.completed {
	top: var(--position-button-completed);
}

.dropped {
	top: var(--position-button-dropped);
}

.onhold {
	top: var(--position-button-onhold);
}

.plantowatch,
.plantoread {
	top: var(--position-button-planto);
}

#status-menu .status-button.all_anime:hover {
	color: var(--color-all);
}

#status-menu .status-button.watching:hover,
#status-menu .status-button.reading:hover {
	color: var(--color-watching);
}

#status-menu .status-button.completed:hover {
	color: var(--color-completed);
}

#status-menu .status-button.dropped:hover {
	color: var(--color-dropped);
}

#status-menu .status-button.onhold:hover {
	color: var(--color-onhold);
}

#status-menu .status-button.plantowatch:hover,
#status-menu .status-button.plantoread:hover {
	color: var(--color-planto);
}
