#status-menu .status-button.on {
	color: var(--color);
}

#status-menu .status-button {
	position: fixed;
	left: 0;
	width: 150px;
	font-size: 24px !important;
}

#status-menu .status-button.all_anime {
	top: 150px;
}

#status-menu .status-button.all_anime:hover {
	color: var(--all);
}

#status-menu .status-button.watching:hover, #status-menu .status-button.reading:hover {
	color: var(--watching);
}

#status-menu .status-button.watching, #status-menu .status-button.reading {
	top: 204px;
}

#status-menu .status-button.completed:hover {
	color: var(--completed);
}

#status-menu .status-button.completed {
	top: 258px;
}

#status-menu .status-button.dropped:hover {
	color: var(--dropped);
}

#status-menu .status-button.dropped {
	top: 312px;
}

#status-menu .status-button.onhold:hover {
	color: var(--onhold);
}

#status-menu .status-button.onhold {
	top: 366px;
}

#status-menu .status-button.plantowatch:hover, #status-menu .status-button.plantoread:hover {
	color: var(--plan);
}

#status-menu .status-button.plantowatch, #status-menu .status-button.plantoread {
	top: 420px;
}
