/*********************************************************/
/*                                                       */
/*                    Made by Simik31                    */
/*      https://www.myanimelist.net/profile/simik31      */
/*                                                       */
/*********************************************************/

#status-menu .status-button.on {
	color: var(--color-current);
}

#status-menu .status-button {
	position: fixed;
	left: 0;
	width: 150px;
	color: var(--color-text);
	line-height: 30px;
	padding: 7px 10px;
	text-shadow: 0 0 5px #000;
}

#status-menu .status-button.all_anime {
	top: 150px;
}

#status-menu .status-button.watching,
#status-menu .status-button.reading {
	top: 194px;
}

#status-menu .status-button.completed {
	top: 238px;
}

#status-menu .status-button.dropped {
	top: 382px;
}

#status-menu .status-button.onhold {
	top: 326px;
}

#status-menu .status-button.plantowatch,
#status-menu .status-button.plantoread {
	top: 370px;
}

#status-menu .status-button.all_anime:hover {
	color: var(--color-all);
}

#status-menu .status-button.watching:hover,
#status-menu .status-button.reading:hover {
	color: var(--color-watching);
}

#status-menu .status-button.completed:hover {
	color: var(--color-completed);
}

#status-menu .status-button.dropped:hover {
	color: var(--color-dropped);
}

#status-menu .status-button.onhold:hover {
	color: var(--color-onhold);
}

#status-menu .status-button.plantowatch:hover,
#status-menu .status-button.plantoread:hover {
	color: var(--color-planto);
}