:root{
	--text-color: #fff;
	--bg-color: #3c3c3c;
	--watching:#2db039;
	--completed:#0080ff;
	--onhold:#f9d457;
	--dropped:#a12f31;
	--plan:#c3c3c3;
	--all:#8B4513;
}

[data-query*="status\":1"] {
	--color: var(--watching);
	--rx-cover: url("https://i.imgur.com/paPYdFg.png");
	}
[data-query*="status\":2"] {
	--color: var(--completed);
	--rx-cover: url("https://i.imgur.com/Iukcs0H.png");
	}
[data-query*="status\":3"] {
	--color: var(--onhold);
	--rx-cover: url("https://i.imgur.com/OQOtXG6.png");
	}
[data-query*="status\":4"] {
	--color: var(--dropped);
	--rx-cover: url("https://i.imgur.com/aF1raIZ.png");
	}
[data-query*="status\":6"] {
	--color: var(--plan);
	--rx-cover: url("https://i.imgur.com/tcEiKZB.png");
	}
[data-query*="status\":7"] {
	--color: var(--all);
	--rx-cover: url("https://i.imgur.com/JD0uS66.png");
}