     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

:root {
	/* COLORS */
	--color-watching: #2db039;
	--color-completed: #0080ff;
	--color-onhold: #f9d457;
	--color-dropped: #a12f31;
	--color-planto: #c3c3c3;
	--color-all: #8B4513;
	
	--color-text: #fff;
	--color-background: #3c3c3c;
	
	--color-rx-cover: #000000f0;
	
	/* IMAGES */
	--image-background: url(https://images5.alphacoders.com/495/495521.jpg);
	
	--image-mal-logo: url(https://i.imgur.com/4ADYYT2.png);
	--image-search: url(https://i.imgur.com/3j2ThUg.png);
	
	--image-rx-watching: url(https://i.imgur.com/paPYdFg.png);
	--image-rx-completed: url(https://i.imgur.com/Iukcs0H.png);
	--image-rx-onhold: url(https://i.imgur.com/OQOtXG6.png);
	--image-rx-dropped: url(https://i.imgur.com/aF1raIZ.png);
	--image-rx-planto: url(https://i.imgur.com/tcEiKZB.png);
	--image-rx-all: url(https://i.imgur.com/JD0uS66.png);
	
	 /* SIZES */
	--item-width: 241px;
	--item-height: 410px;
	
	--status-layer-one: 383px;
	--status-layer-two: 354px;
	
	--progress-layer-one: 230px;
	--progress-layer-two: 260px;
}

[data-query*="status\":1"] {
	--color-current: var(--color-watching);
	--image-rx-cover: var(--image-rx-watching);
}

[data-query*="status\":2"] {
	--color-current: var(--color-completed);
	--image-rx-cover: var(--image-rx-completed);
}

[data-query*="status\":3"] {
	--color-current: var(--color-onhold);
	--image-rx-cover: var(--image-rx-onhold);
}

[data-query*="status\":4"] {
	--color-current: var(--color-dropped);
	--image-rx-cover: var(--image-rx-dropped);
}

[data-query*="status\":6"] {
	--color-current: var(--color-planto);
	--image-rx-cover: var(--image-rx-planto);
}

[data-query*="status\":7"] {
	--color-current: var(--color-all);
	--image-rx-cover: var(--image-rx-all);
}

[data-work*="anime"] {
	--bool-show-anime: none;
	--bool-show-manga: "";
	--status-top-hover: var(--status-layer-one);
	--status-top: var(--status-layer-two);
}

[data-work*="manga"] {
	--bool-show-anime: "";
	--bool-show-manga: none;
	--status-top-hover: var(--item-height);
	--status-top: var(--status-layer-one);
}
