     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

a[href*="tag=Rx"] {
	position: absolute;
	bottom: calc(var(--item-height) * -1);
	width: var(--item-width);
	height: var(--item-height);
	background: var(--image-rx-cover) var(--color-rx-cover);
	background-repeat: no-repeat;
	background-position: center;
}

.list-item:hover a[href*="tag=Rx"] {
	height: 0;
	opacity: 0;
}
