     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.data.score {
	right: 13px;
	top: 13px;
}

.data.score::before {
	display: inline-block;
	position: absolute;
	color: var(--color-current);
	content: "";
	right: 0;
	top: 0;
}

.data.score .link {
	top: 3px;
	right: 0;
	width: 36px;
	position: absolute;
}

input[type='text'],
select {
	margin-top:36px;
	background-color: var(--color-background);
	color: var(--color-current) !important;
}
