/*********************************************************/
/*                                                       */
/*                    Made by Simik31                    */
/*      https://www.myanimelist.net/profile/simik31      */
/*                                                       */
/*********************************************************/

.list-container .list-unit .list-table .list-item .list-table-data .data.score {
	right: 13px;
	top: 13px;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.score::before {
	display: inline-block;
	position: absolute;
	color: var(--color-current);
	content: "";
	right: 0;
	top: 0;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.score .link {
	top: 3px;
	right: 0;
	width: 36px;
	position: absolute;
}

input[type='text'],
select {
	margin-right: 36px;
	background-color: var(--color-background);
	color: var(--color-current) !important;
}