.list-container .status-menu-container .search-container {
	position: fixed;
	top: 21px;
	right: 21px;
}

.list-container .status-menu-container .search-container #search-button {
	margin: 0;
	background: url("https://i.imgur.com/3j2ThUg.png") var(--color);
	width: 28px;
	height: 28px;
}

.list-container .status-menu-container .search-container #search-box {
	margin: 0;
}

.list-container .status-menu-container .search-container #search-box.open {
	width: 148px;
	box-shadow: 0 0 2px 1px var(--color);
}
