     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.search-container {
	position: fixed;
	top: 21px;
	right: 143px;
	z-index: 2;
}

#search-button {
	margin: 0;
	background: var(--image-search) var(--color-current);
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

#search-box {
	width: 0;
	height: 36px; /* +4px border = 40px totals */
	margin: 0;
	opacity: 0;
}

#search-box.open {
	width: 148px;
	opacity: 1;
	border: 2px solid var(--color-current);
	border-radius: 6px;
}

#search-box input {
    box-sizing: unset !important;
}
