     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.data.season {
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
    z-index: 2;
    background-color: var(--color-current);
}

.data a {
    color: var(--color-text) !important;
}
