     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.content-status {
    position: absolute;
    text-align: center;
    top: var(--status-top);
    left: 0;
    width: var(--item-width);
    height: 28px;
    z-index: 2;
    border-bottom: 1px solid var(--color-text);
    background-color: var(--color-current);
    color: var(--color-text);
}

.list-item:hover .content-status {
    top: var(--status-top-hover);
    opacity: 0;
}
