/*********************************************************/
/*                                                       */
/*                    Made by Simik31                    */
/*      https://www.myanimelist.net/profile/simik31      */
/*                                                       */
/*********************************************************/

.list-container .list-unit .list-table .list-item .list-table-data .data.title .content-status {
    position: absolute;
    text-align: center;
    top: var(--status-top);
    left: 0;
    width: 242px;
    height: 28px;
    z-index: 1;
    border-bottom: 1px solid var(--color-text);
    background-color: var(--color-current);
    color: var(--color-text);
}

.list-container .list-unit .list-table .list-item:hover .list-table-data .data.title .content-status {
    top: var(--status-top-hover);
    opacity: 0;
}
