.list-container .list-unit .list-table .list-item .list-table-data .data.title .content-status {
    position: absolute;
    left: 0;
    top: 344px;
    width:242px;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--color);
    color: var(--text-color);
    text-align: center;
}

.list-container .list-unit .list-table .list-item:hover .list-table-data .data.title .content-status {
  top: 378px;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.season {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
	background-color: var(--color);
}

.list-table .list-table-data .data a {
  color: var(--text-color);
}