     /***********************************************/
    /*                                             */
   /*              Made by Simik31                */
  /* https://www.myanimelist.net/profile/simik31 */
 /*                                             */
/***********************************************/

.data.title .link {
    position: absolute;
    padding: 4px;
    opacity: 0;
    top: var(--title-position);
    color: var(--color-text);
    background-color: var(--color-current);
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: var(--item-width);
    overflow: hidden;
}

.list-item:hover .link {
    opacity: 1;
}
