/* Part of simik31's MAL css */

.list-container .list-unit .list-table .list-item span a[href*="&tag=Rx"] {
    position: absolute;
	top: 0;
    width: 241.5px;
    height: 361px;
    background: var(--rx-cover) #191919f0;
    background-repeat:no-repeat;
    background-position:center;
}

.list-container .list-unit .list-table .list-item:hover span a[href*="&tag=Rx"]{
	display: block;
	height: 0;
	opacity: 0;
}