/* Part of simik31's MAL css */

.list-container .list-unit .list-table .list-item .list-table-data .data.progress:before {
    padding: 2px 0px 0px 0;
    content: "Ep:";
    pointer-events: all;
    color: var(--text-color);
	margin-right: 5px;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.progress {
    pointer-events: all;
    color: var(--text-color);
    position: absolute;
    left: 1px;
    top: 216.5px;
    padding: 3px 7px 3px 15px;
    background-color: var(--color);
    margin-right: 14px;
    margin-left: -100%;
    opacity: 0;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.progress div {
  display: inline-block;
  vertical-align: top;
}

.list-container .list-unit .list-table .list-item .list-table-data .data.progress a {
  color: var(--text-color);
}

.list-container .list-unit .list-table .list-item:hover .list-table-data .data.progress {
    display: block;
    margin-left: 5px;
    opacity: 1;
}

.list-container .list-unit .list-table .list-item:hover .list-table-data .data.progress .icon-add-episode {
  display: block;
}