/* Part of simik31's MAL css */

.list-container .list-unit .list-table .list-item .list-table-data .data.title .add-edit-more .more a::before {
    content: "\f078";
    display: inline-block;
    text-rendering: auto;
    color: var(--text-color);
    margin-top: 13px;
    margin-left: 40px;
    position: absolute;
    z-index: 98;
    background-color: var(--color);
    padding: 5px;
}